body {
    background: url(https://cdn.pixabay.com/photo/2016/03/24/13/45/coffee-1276784__480.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
}

hr {
    width: 80%;
    margin-top: 5%;
}

.container {
    width: 40%;
    margin:auto;
    overflow: hidden;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: 7%;
}

.sms {
  padding: 0.5rem 2rem;
  color: #fff;
  background-color: #d34508;
  border: none;
  border-radius: 5px;
}

a {
    text-decoration: none;
    color: #d34508; 
}

.container input {
    padding: 0.5rem;
    width: 70%;
}

.container input[type=checkbox] {
  width: auto;
}

.btn {
    padding: 0.5rem 2rem;
    background-color: #aeb96b;
    width: 50%;
    border-radius: 7px;
    border: none;
    color: #fff;
}