@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #041C32;
    margin: 20px;
}

#content {
    color: #84DFFF;
    border-color: black;  
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900px;
}

#coder {
    opacity: 0.5;
}

#coder:hover {
    opacity: 1;
}

#image {
    opacity: 1;
}

#heading {
    color: red;
    text-align: center;
}

#submit {
    background-color: orange;
    border-radius: 20px;
    border: none;
    padding: 5px;
    font-size: medium;
    padding: 0.5rem;
    cursor: pointer;
}

#button {
    width: 10%;
    overflow: hidden;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 7%;
    text-decoration: none;
    color: rgba(127, 251, 255, 0.904);
    border: none;
}

#button2 {
    width: 10%;
    overflow: hidden;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 7%;
    text-decoration: none;
    color: rgba(127, 251, 255, 0.904);
    border: none;
}

#back {
    width: 10%;
    overflow: hidden;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 7%;
    text-decoration: none;
    color: rgba(127, 251, 255, 0.904);
    border: none;
}

.content {
    color: #84DFFF;
}

.container {
    width: 40%;
    margin:auto;
    overflow: hidden;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: 7%;
    display: block;
    justify-content: center;
}

.footer {
    text-align: center;
    padding: 30px 0;
}

#read {
    width: 10%;
    overflow: hidden;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 7%;
    text-decoration: none;
    color: rgba(127, 251, 255, 0.904);
    border: none;
}

a {
    width: 10%;
    overflow: hidden;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 7%;
    text-decoration: none;
    color: rgba(127, 251, 255, 0.904);
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    outline: none;
    display: block;
    background: #1a4657;
    width: 90%;
    border: 0;
    border-radius: 25px;
    padding: 12px 20px;
    color: skyblue;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    transition: 0.3s ease;    
}

#link {
    width: 10%;
    overflow: hidden;
    padding: 0.45rem;
    background-color: rgb(226, 41, 41);
    border-radius: 5px;
    text-align: center;
    margin-top: 7%;
    text-decoration: none;
    color: rgba(127, 251, 255, 0.904);
}

#highlight {
    color: red;
}

.btn {
    width: 10%;
    overflow: hidden;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 7%;
    text-decoration: none;
    color: rgba(127, 251, 255, 0.904);
}
